<nav class="ch-top-navbar navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav navbar-left collapse navbar-collapse">
        <li><a href="/">Home</a></li>
        <% if(user) { %>
        <li><a href="/chart">Chat</a></li>
        <% } %>
    </ul>
    <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
        <% if(user) { %>
        <li><a>Welcome <strong>'<%=user.name%>'</strong></a></li>
        <li><a onclick="$('body').mask('Loading...'); $.post('/logout', function(){ window.location = '/'; }).always(function(){ $('body').unmask();} ); ">Logout</a></li>
        <% } else { %>
        <li><a href="/login">Login</a></li>
        <% } %>
    </ul>
    <a class="mainmenu-close icon-cross"></a>
</nav>