<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/vendor/bower_components/jquery-loadmask/jquery.loadmask.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <script type="text/javascript" src="/vendor/bower_components/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="/vendor/bower_components/jquery-loadmask/jquery.loadmask.min.js"></script>
        <script type="text/javascript" src="/js/script.js"></script>
        <% if(blocks.scripts) { blocks.scripts.html.forEach(function(script) { %><script type="text/javascript" src="<%- script %>"></script><%  })} %>
    </head>
    <body>
        <div class="ch-container-wrapper container">
            <div class="ch-header">
                <%-partial("../partials/topNavigation.ejs")%>
            </div>
            <div class="ch-center ch-flex-container">
                <%-body%>
            </div>
            <div class="ch-footer">Chat footer container</div>
        </div>
    </body>
    <script type="text/javascript">
        (function bindResize(){
            $(document).ready(getResizeFn('.ch-flex-container','min-height'));
            $(document).ready(getResizeFn('.ch-fit-container','height'));
            function resize(){
                $('.ch-flex-container').each(function (index, item) {
                    $(item).css('min-height', 0);
                });
                getResizeFn('.ch-flex-container', 'min-height')();
                $('.ch-fit-container').each(function (index, item) {
                    $(item).css('height', 0);
                });
                getResizeFn('.ch-fit-container', 'height')();
            }
            if(isMobile) {
                $(window).bind("orientationchange", resize);
            } else {
                $(window).resize(resize);
        }})();
    </script>
</html>